export("cgam", "incr", "decr", "conc", "conv", "incr.conc", "incr.conv", "decr.conc", "decr.conv", "tree", "umbrella", "s", "s.incr", "s.decr", "s.conc", "s.conv", "s.incr.conc", "s.incr.conv", "s.decr.conc", "s.decr.conv", "plotpersp", "wps", "ii", "dd", "di")
import("coneproj")
importFrom("graphics", "par", "persp")
importFrom("stats", "delete.response", "gaussian", "median", "model.frame", "model.matrix", "model.response", "pchisq", "printCoefmat", "pt", "quantile", "rnorm", "rpois", "runif")
importFrom("utils", "head")
S3method(summary, cgam)
S3method(predict, cgam)
S3method(print, summary.cgam)
S3method(summary, wps)
S3method(print, summary.wps)
S3method(plotpersp, wps)
S3method(plotpersp, cgam)
